<script>
    (function(){
        Cookies.set('performance_cookie', '{{ PERFORMANCE_COOKIE_VALUE }}');
        var content = document.getElementById('content');
        if (content) {
            var p = document.createElement('p');
            p.appendChild(
                document.createTextNode(
                    'Performance code loaded. ' + Cookies.get('performance_cookie')
                )
            );
            content.appendChild(p);
        }
        console.log('Performance code loaded. ' + Cookies.get('performance_cookie'));
    })();
</script>
